<h1> Championship </h1>

<aside>
  <a href="<%= user_team_path %>" class="btn btn-primary">
    Show Team
  </a>
  <a href="<%= new_user_team_path %>" class="btn btn-primary">
    Create a new Team
  </a>
</aside>