.container
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner          
            .inner.cover
              %h1.cover-heading
                Congratulations!
              %p.lead
                Your confirmation has been correctly.
                Enjoy!