.container
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner          
            .inner.cover
              %h1.cover-heading
                Fantasy Football Manager App
              %p.lead
                Manager your teams, tournaments, leagues the way more simple and atractive. 
              %p.lead
                %a.btn.btn-lg.btn-default{ href: '#' }
                  Learn more