.row.row-header.row-header-create
  .col-sm-5
    .row
      .field.col-sm-1.number
        Nº
      .field.col-sm-2
        Dorsal
      .field.col-sm-4.name
        Name
      .field.col-sm-5.player
        Title
  .col-sm-7
    .row
      .field.col-sm-1.ma
        MA
      .field.col-sm-1.st
        ST
      .field.col-sm-1.ag
        AG
      .field.col-sm-1.av
        AV
      .field.col-sm-2.cost
        Cost
      .field.col-sm-4.skill
        Skills
      .field.col-sm-2.experience
        Exp
