<div class="row row-header row-header-create">
  <div class="field col-sm-1 number">Nº</div>
  <div class="field col-sm-1">Dorsal</div>
  <div class="field col-sm-2 name">Name</div>
  <div class="field col-sm-2 player">Title</div>
  <div class="col-sm-2 "><div class="row">
    <div class="field col-sm-3 ma">MA</div>
    <div class="field col-sm-3 st">ST</div>
    <div class="field col-sm-3 ag">AD</div>
    <div class="field col-sm-3 av">AV</div>
  </div></div>
  <div class="field col-sm-1 cost">Cost</div>
  <div class="field col-sm-3 skill">Skills</div>
</div>