/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */




.icons{
  padding: 20px;
  text-align: right;
  width: 40%;
}

.logo{
  width: 100%;
  text-align: center;
}

#logo{
  font-family: "Blood Blocks";
  font-size: 70px;
  color:#8c0000;
}

.logo-icon{
  width: 60%;
}

#logo-icon{
  font-family: "Blood Blocks";
  font-size: 40px;
  color:#8c0000;
}

#main{
    background-color:#ecf0f1;
    position:relative;
    height: 100%;
    overflow:auto;
    min-height: 83vh;
    padding-bottom: 60px

}


.user-devise{
    background: #2ecc71;
    position: relative; 
    float: right;
    padding: 50px;
    border-radius: 20px;
}


#video-background {
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
    background: #fff  ; /* Para Internet Explorer */
    background: rgba(255,255,255,.5)  ;
}


.devise-user-containers{
    background: #fff  ; /* Para Internet Explorer */
    background: rgba(225,255,255,.7)  ;
    font-size: 2rem;
    padding: 50px 0;
    text-align: center;
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
}