/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#video-background {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -100;
    background: #fff  ; /* Para Internet Explorer */
    background: rgba(255,255,255,.5)  ;
}

#video-background > section.container-fluid.home {
    margin-right:0;
    margin-left: 0;
    background: rgba(205,205,205,.5);
    width: 100%;
}


.devise-user-containers{
    background: #fff  ; /* Para Internet Explorer */
    background: rgba(255,255,255,.5)  ;
    font-size: 2rem;
    padding: 50px 0;
    text-align: center;
    width: 100%;
}