footer {
  background-color: #004377;
  position: relative;
  min-height: 60px;
  clear:both;
}

.logo-icon img{
  height: 55px;
}

.footer {
  display: flex;
}

.icons{
  padding: 15px;
  text-align: right;
  width: 40%;
}

.logo-icon{
  width: 60%;
}