header{
  background-color: #004377;
}

nav{
  margin:auto;
  margin-top: -4px;
}

.logo{
  width: 100%;
  text-align: center;
}

.nav-pills>li>a{
  border-radius: 0px;
  color: #ecf0f1;
  font-size: 16px;
  border-radius: 0;
  padding: 6px 25px;
}
.nav-pills>li>a:hover{
  background-color: #8c0000;
  border-radius: 0px;
}

.nav-pills li:last-child{
  float: right;
}
