<section class="container">
<h1>Blood Bowl Communities</h1>

<ul class="list-unstyled">
  <% @communities.each do |community| %>
    <li data-bbq="<%= community.id %>">
      <h2>
        <a href="<%= community_path(community.id) %>">
          <%= community.name %>
        </a>
      </h2>
    </li>
  <% end %>
</ul>
</section>