html, body{
  height: 100%;
  padding-top: 35px;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}