<div class="container footer">
  <div class="logo-icon">
    <img src='<%= asset_path("logo2.png")%>' alt="logo" height="55px">
  </div>
  <div class="icons">
  <a href="https://twitter.com/rramonfraga" class="twitter-follow-button" data-show-count="false">Follow @rramonfraga</a>
  
  <a class="github-button" href="https://github.com/rramonfraga" aria-label="Follow @rramonfraga on GitHub">Follow @rramonfraga</a>
  
  </div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>