%footer
  .container
    = image_tag asset_path('spiked_ball_logo.jpg'), width: '60', height: '60'
    %a.twitter-follow-button{ href: "https://twitter.com/rramonfraga", data: { show: { count: "false" } } }
      Follow @rramonfraga

    %a.github-button{ href: "https://github.com/rramonfraga", aria: { label: 'Follow @rramonfraga on GitHub' } }
      Follow @rramonfraga